<?xml version="1.0" encoding="UTF-8"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">

        <MAINMENU id="mxcustnews">
            <SUBMENU id="mxnews" cl="admin_news" list="news_list">
                <TAB id="tbclnews_main" cl="news_main" />
                <TAB id="tbclnews_text" cl="news_text" />
                <TAB id="tbclnews_mall" cl="news_mall" />
                <BTN id="news_new" />
            </SUBMENU>
            <SUBMENU id="mxurls" cl="admin_links" list="adminlinks_list">
                <TAB id="tbcladminlinks_main" cl="adminlinks_main" />
                <TAB id="tbcladminlinks_mall" cl="adminlinks_mall" />
                <BTN id="links_new" />
            </SUBMENU>
            <SUBMENU id="mxguestbook" cl="admin_guestbook" list="adminguestbook_list">
                <TAB id="tbcladminguestbook_main" cl="adminguestbook_main" />
            </SUBMENU>
            <SUBMENU id="mxcontent" cl="admin_content" list="content_list">
                <TAB id="tbclcontent_main" cl="content_main" />
                <TAB id="tbclcontent_seo" cl="content_seo" />
                <BTN id="content_new" />
            </SUBMENU>
            <SUBMENU id="mxactions" cl="actions" list="actions_list">
                <TAB id="tbclactions_main" cl="actions_main" />
            </SUBMENU>
            <SUBMENU id="mxpricealarm" cl="admin_pricealarm" list="pricealarm_list">
                <TAB id="tbclpricealarm_main" cl="pricealarm_main" />
                <TAB id="tbclpricealarm_mail" cl="pricealarm_mail" />
            </SUBMENU>
            <SUBMENU id="mude_facebook" cl="mude_facebook_like_settings"></SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>